@model IntAlk1_Assignment.Models.TenantModel

<div class="row">
    <div class="col-lg-4 mx-auto">
        <h4 class="text-center">Create New Tenant</h4>
        <hr />
    </div>
</div>
@if (ViewBag.Failed != null)
{
        <div class="row d-flex justify-content-center">
            <div class="col-3 alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            @Html.Raw(ViewBag.Failed)
            </div>
        </div>
}
<div class="row">
    <div class="col-lg-4 mx-auto">
        <form asp-action="ProcessTenantCreation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group d-grid mt-1">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row mt-1">
    <div class="col-lg-4 mx-auto text-center">
        <a class="btn btn-secondary btn-sm" asp-action="TenantList">Back to List</a>
    </div>
</div>

@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
