@model IntAlk1_Assignment.Models.PropertyModel

@{
    var OwnerList = new List<SelectListItem>();
    OwnerList.Add(new SelectListItem { Text = "None", Value = "0" });
    foreach (OwnerModel o in ViewBag.OwnerList)
    {
        if (Model != null && o.Id == Model.OwnerId)
        {
            OwnerList.Add(new SelectListItem { Text = o.Name, Value = o.Id.ToString(), Selected = true });
        }
        else
        {
            OwnerList.Add(new SelectListItem { Text = o.Name, Value = o.Id.ToString() });
        }
    }

    var TenantList = new List<SelectListItem>();
    TenantList.Add(new SelectListItem { Text = "None", Value = "0" });
    foreach (TenantModel t in ViewBag.TenantList)
    {
        if (Model != null && t.Id == Model.TenantId)
        {
            TenantList.Add(new SelectListItem { Text = t.Name, Value = t.Id.ToString(), Selected = true });
        }
        else
        {
            TenantList.Add(new SelectListItem { Text = t.Name, Value = t.Id.ToString() });
        }
    }
}

@if (ViewBag.Failed != null)
{
    <div class="row d-flex justify-content-center">
        <div class="col-3 alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            @Html.Raw(ViewBag.Failed)
        </div>
    </div>
}

<div class="row justify-content-center mt-3">
    <div class="col-md-4">
        <h4>Create New Property</h4>
        <hr />
        <form asp-action="ProcessPropertyCreation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="OwnerId" class="control-label"></label>
                @Html.DropDownListFor(m => m.OwnerId, OwnerList)
            </div>
            <div class="form-group my-2">
                <label asp-for="TenantId" class="control-label"></label>
                @Html.DropDownListFor(m => m.TenantId, TenantList)
            </div>
            <div class="form-group my-2">
                <label asp-for="Rent" class="control-label"></label>
                <input asp-for="Rent" class="form-control" />
                <span asp-validation-for="Rent" class="text-danger"></span>
            </div>
            <div class="form-group d-grid my-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div class="text-center d-grid my-2">
            <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
