@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-2">
    <h3 class="display-5"><strong>Ingatlan Nyílvántartó Rendszer</strong></h3>
    <h4 class="text-muted">Készítette: Wolf Dániel (V4CRMW)</h4>
</div>
<div class="d-flex justify-content-center mt-5 text-center">
    <div>
        <div>
            <h3>Beadando Feladatnak Teljesitenie Kell</h3>
        </div>
        <div class="border border-primary">
            <div class="my-0 py-2 px-2" style="background-color: #DED6EA">
                <h5 class="text-success">Adattablak</h5>
                <p class="text-success">Ingatlanok</p>
                <p class="text-success">Tulajdonosok</p>
                <p class="text-success">Berlok</p>
                <p class="text-success">Berleti Dijak kifizetve/tartozik</p>
            </div>
            <div class="my-0 py-2 px-2" style="background-color: #EEE9F6">
                <h5><strong class ="text-success">Funkciok</strong></h5>
                <p class="text-success">Torles sehol nem lehetseges, ha elo adata van hozza kapcsolodva</p>
                <p><strong class="text-success">ingatlanok </strong><span class="text-success">felvitel</span> / <span class="text-success">modositas</span> / <span class="text-success">torles</span></p>
                <p><strong class="text-success">tulajdonosok </strong><span class="text-success">felvitel</span> / <span class="text-success">modositas</span> / <span class="text-success">torles</span></p>
                <p><strong class="text-success">berlok </strong><span class="text-success">felvitel</span> / <span class="text-success">modositas</span> / <span class="text-success">torles</span></p>
                <p class="text-success">berleti dij fizetesi kotelezettseg keletkezik minden elsejen, <span class="text-success">befizetes felviheto</span></p>
            </div>
            <div class="my-0 py-2 px-2" style="background-color: #DED6EA">
                <h5><strong class="text-success">Feladatok</strong></h5>
                <p class="text-success">tablatervek</p>
                <p><strong class="text-success">Lekerdezesek</strong></p>
                <p class="text-success">hatralekok (berlonkent es ingatlanonkent)</p>
                <p class="text-success">berlok listaja (ingatlannal es tulajdonossal)</p>
                <p class="text-success">ingatlanok listaja (berlovel es tulajdonossal)</p>
                <p class="text-success">tulajdonosok listaja (ingatlannal es berlovel)</p>
            </div>
            <div class="my-0 py-2 px-2" style="background-color: #EEE9F6">
                <h5><strong>Egyeb</strong></h5>
                <p class="text-success">Egy tulajdonosnak tobb ingatlana lehet</p>
                <p class="text-success">Egy berlo tobb ingatlant berelhet</p>
                <p>A modositasokat naplozni kell</p>
            </div>
            <div class="my-0 py-2 px-2" style="background-color: #DED6EA">
                <h5><strong>Plusz Pontokert</strong></h5>
                <p>Valtozasnaplo triggerrel megoldva</p>
            </div>
            <div class="my-0 py-2 px-2" style="background-color: #EEE9F6">
                <h5><strong>Egyeb Egyeni problemak es celkituzesek</strong></h5>
                <p><strong class="text-success">Oldalasitas: </strong><span class="text-success">Tulaj</span> / <span class="text-success">Berlo</span> / <span class="text-success">Ingatlan</span></p>
                <p><strong class="text-success">Kereses Funkcio: </strong><span class="text-success">Tulaj</span> / <span class="text-success">Berlo</span> / <span class="text-success">Ingatlan</span></p>
                <p class="text-success">nem lehet egy ingatlannak berloje ha nincs tulajdonosa</p>
                <p>Tartozas torlese => e-nelkul nem lesz torolheto sem az ingatlan sem a berlo</p>
            </div>
        </div>
    </div>
</div>
