@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h2 class="display-2">Ingatlan Nyílvántartó Rendszer</h2>
    <h4 class="text-muted">Készítette: Wolf Dániel (V4CRMW)</h4>
</div>
<div class="d-flex justify-content-center">
    <div>
        <div>
            <h5>To Do List</h5>
        </div>
        <div>
            <p>Adatbazis elkeszitese</p>
            <p><strong>Funkciok</strong></p>
            <p>ingatlanok <span>felvitel</span> / <span>modositas</span> / <span>torles</span></p>
            <p><strong class="text-success">tulajdonosok </strong><span class="text-success">felvitel</span> / <span class="text-success">modositas</span> / <span class="text-success">torles</span></p>
            <p><strong class="text-success">berlok </strong><span class="text-success">felvitel</span> / <span class="text-success">modositas</span> / <span class="text-success">torles</span></p>
            <p>berleti dij fizetesi kotelezettseg keletkezik minden elsejen, <span>befizetes felviheto</span></p>
            <p><strong>Feladatok</strong></p>
            <p class="text-success">tablatervek</p>
            <p>funkciok megvalositasa</p>
            <p>lekerdezesek</p>
            <ul>
                <li>hatralekok(berlonkent es ingatlanonkent)</li>
                <li class="text-success">berlok listaja (ingatlannal es tulajdonossal)</li>
                <li>ingatlanok listaja (berlovel es tulajdonossal)</li>
                <li class="text-success">tulajdonosok listaja (ingatlannal es berlovel)</li>
            </ul>
            <p><strong>Egyeb</strong></p>
            <p class="text-success">Egy tulajdonosnak tobb ingatlana lehet</p>
            <p class="text-success">Egy berlo tobb ingatlant berelhet</p>
            <p>A modositasokat naplozni kell</p>
            <p><strong>Plusz Pontokert</strong></p>
            <p>AJAX megoldas</p>
            <p>Valtozasnaplo triggerrel megoldva</p>
            <p>CSS</p>
            <p>Oldalasitas a lekerdezeseken: <span class="text-success">Tulaj</span>/<span class="text-success">Berlo</span>/<span class="">Ingatlan</span></p>
            <p>Kereses Funkcio implementalasa a lekerdezeseken: <span class="text-success">Tulaj</span>/<span class="text-success">Berlo</span>/<span class="">Ingatlan</span></p>
            <p class="text-warning">nem lehet egy ingatlannak berloje ha nincs tulajdonosa</p>
        </div>
    </div>
</div>
